* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-size: 20px;
  background-color: #e0f2fe;
}

.container {
  padding: 25px;
  display: grid;
  gap: 25px;
  place-items: center;
  place-content: center;
}

.grid-container {
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  gap: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 25px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 0px #a3a3a3;
  padding: 25px;
}

.content > * {
  padding: 10px;
}

.read-button,
.delete-button {
  display: block;
  width: 100%;
  /* width: 100%; */
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.read {
  background-color: #94ecd0;
}

.not-read {
  background-color: #ffc13d;
}

.delete-button {
  background-color: #fbbabd;
}

.read:hover,
.not-read:hover,
.delete-button:hover,
.open-button:hover,
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.open-button {
  box-shadow: 0px 0px 3px 0px #a3a3a3;
  background-color: #d6d0ff;
  border: none;
  border-radius: 8px;
  padding: 25px;
  font-size: 24px;
  font-weight: bold;
}

.form-popup {
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0px #a3a3a3;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.form-container {
  border-radius: 8px;
  max-width: 300px;
  padding: 25px;
  background-color: white;
}

.form-container input[type="text"],
.form-container input[type="number"] {
  width: 100%;
  border-radius: 8px;
  padding: 25px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}

input[type="checkbox"] {
  margin-left: 10px;
  transform: scale(1.5);
}

.form-container .btn {
  background-color: #d6d0ff;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 25px;
}

hr {
  border: none;
  border-top: 2px solid #ddd;
  width: 100%;
}

.blur {
  filter: blur(3px);
}
